---
title: Andy Sorensen dot com
---

.heading
  Andy Sorensen
#things
  %ul
    %li
      is bootstrapping a
      %a(href="http://www.foldtech.ca")mobile building
      company;
    %li
      has a son called
      %a(href="http://www.elijasorensen.com/") Elija;
    %li
      will have more content on his website eventually.
