---
title: Andy Sorensen dot com
---

.heading
  Andy Sorensen
#things
  %ul
    %li
      is an inventor and entrepreneur;
    %li
      is on
      %a(href="https://linkedin.com/in/andy-sorensen-b4833796") LinkedIn;
